{% extends "base.html" %}
{% block title %}sdr detail{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>{{ data.time }}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-center"><span>{{ data.owner.username }}</span><span style="margin-left: 20px"></span></p>
        <table border="1">
                <tr>
                        <td>loc_x</td>
						<td>{{data.loc_x}}</td>
                </tr>
                <tr>
                        <td>loc_y</td>
						<td>{{data.loc_y}}</td>
                </tr>
                <tr>
                        <td>fs</td>
						<td>{{data.fs}}</td>
                </tr>
                <tr>
                        <td>fc</td>
						<td>{{data.fc}}</td>
                </tr>
                <tr>
                        <td>dt</td>
						<td>{{data.dt}}</td>
                </tr>
                <tr>
                        <td>owner</td>
						<td>{{data.owner}}</td>
                </tr>
                <tr>
                        <td>time</td>
						<td>{{data.time}}</td>
                </tr>
                <tr>
                        <td>gain</td>
						<td>{{data.gain}}</td>
                </tr>
                <tr>
                        <td>data</td>
						<td><a href="{{data.data.url}}">IQ data</a></td>
                </tr>
        </table>

    </div>
    <div class="col-xs-6 col-md-4">
        <h2>广告</h2>
        <p>跟老齐学：www.itdiffer.com</p>
        <img width="100px" height="100" src="http://www.mrwallpaper.com/wallpapers/Fluffy-Cat.jpg">
    </div>
</div>
{% endblock %}
